header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 20px 0;
    font-size: 24px;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .options {
    padding-top: 6px;
  }
  .signin {
    font-size: 36px;
    color: #444;
    &:hover {
      color: #000;
    }
  }
  .avatar {
    img {
      width: 40px;
      height: 40px;
    }
  }
}