<!-- main width: 8 Grid-->
<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">

    <div id="coders" class="archive coders clearfix">
      <div class="coder" ng-repeat="coder in coders" ng-style="{'background-image': 'url(' + coder.meta.background + ')'}" ng-class="{'has-thumbnail': coder.meta.background}">
        <h3 class="title container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <a ui-sref="layout.single({uri: coder.thread_id })" ng-bind="coder.title"></a>
            </div>
          </div>
        </h3>
      </div>
    </div>

    <div class="pager-module" ng-show="totalItems > itemsPerPage" ng-cloak>
      <div class="container">
        <pager previous-text="前几篇" next-text="后几篇" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></pager>
      </div>
    </div>

  </div>
</div>

<div class="loading container" ng-hide="coders.length >= 0">loading...</div>

<div class="loading contailer" ng-show="coders.length === 0" ng-cloak>No Coders</div>
