<!-- main width: 8 Grid-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">

      <h2 class="devider-title">每日 Top 20 Coder</h2>

      <div id="coders" class="coders clearfix">
        <div class="coder clearfix" ng-repeat="coder in coders">
          <div class="row">
            <div class="col-lg-1 col-md-1">
              <a class="upvote" href="javascript:void(0);" ng-click="upvote(coder.objectId);">
                <i class="fa fa-arrow-up"></i>
                <span class="upvote-num" ng-bind="coder.upvoted"></span>
              </a>
            </div>
            <div class="col-lg-11 col-md-11">
              <div class="coder-entry clearfix">
                <h3><a ng-href="{{coder.uri}}" ng-bind="coder.name"></a></h3>
                <div class="meta">
                  <span class="created-at" ng-bind="coder.createdAt | date: 'hh:mm a'"></span>
                  <a ui-sref="layout.single({uri: coder.objectId})">Comments</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a id="more" class="more" href="javascript:void(0);" ng-click="more();" ng-show="coders.length > 0" ng-cloak>
          加载更多...
        </a>
      </div>

    </div>
  </div>
</div>

<div class="loading container" ng-hide="coders.length >= 0">loading...</div>

<div class="loading contailer" ng-show="coders.length === 0" ng-cloak>No Coders</div>
