<header ng-class="state.current.controller">
  <nav>
    <div class="options pull-right">
      <a ui-sref="layout.create" class="avatar" ng-show="user" ng-cloak>
        <img ng-src="{{user.picture}}" alt="{{user.name}}" class="img-circle"/>
      </a>
      <a id="github-signin" ng-show="isVisitor" tooltip-placement="left" tooltip="通过 GitHub 登录" href="javascript:void(0);" ng-click="signin();" ng-cloak>
        <span class='fa fa-power-off'></span>
      </a>
    </div>
  </nav>
  <div class="container">
    <div class="logo">
      <h1>
        <a ui-sref="layout.home" ng-bind="configs.name"></a>
        <span class="description" ng-bind="configs.description"></span>
      </h1>
    </div>
  </div>
</header>
<section id="content" class="content">
  <div ui-view>
    <div class="loading container">loading...</div>
  </div>
</section>
<footer>
  <div class="container">
    &copy; <span class="copyright-year" ng-bind="copyrightYear"></span> <a ng-href="{{configs.uri}}"><span class="copyright-name" ng-bind="configs.name"></span></a>.
  </div>
</footer>