<header ng-class="state.current.controller">
  <div class="container">
    <!-- main width: 8 Grid-->
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <!-- entry grid -->
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <h1 class="logo">
              <a ui-sref="layout.home" ng-bind="configs.name"></a>
              <span class="description" ng-bind="configs.description"></span>
            </h1>
          </div>
          <nav class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="options pull-right clearfix">
              <a ui-sref="layout.member" ng-show="auth.profile" class="avatar clearfix">
                <img ng-src="{{auth.profile.picture}}" alt="{{auth.profile.name}}" ng-show="auth.profile" tooltip-placement="left" tooltip="{{auth.profile.name}}" />
                <span ng-hide="auth.profile" class="loading-icon">
                  <i class="fa fa-circle-o-notch fa-spin"></i>  
                </span>
              </a>
              <a ui-sref="layout.create">
                <i class="fa fa-plus-square-o"></i>
              </a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="content" class="content">
  <div ui-view>
    <div class="loading container">loading...</div>
  </div>
</section>
<footer>
  <div class="container">
    <!-- main width: 8 Grid-->
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        &copy; <span class="copyright-year" ng-bind="copyrightYear"></span> <a ng-href="{{configs.uri}}"><span class="copyright-name" ng-bind="configs.name"></span></a>.
      </div>
    </div>
  </div>
</footer>