<!-- main width: 8 Grid-->
<div class="container">
  <div id="member" class="member">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <!-- entry grid -->
        <div class="row">
          <div class="col-lg-12 member-entry">
            <h3 class="devider-title" ng-bind="member.name"></h3>
            <a ng-click="signout();" href="javascript:void(0);" ng-show="auth.profile" class="more">登出账户</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>