<!-- main width: 8 Grid-->
<div class="container">
  <div id="signin" class="signin">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">
        <!-- entry grid -->
        <div class="row">
          <div class="signin col-lg-12">
            <a id="github-signin" class="signin" ng-show="!auth.profile" tooltip-placement="left" tooltip="通过 GitHub 登录" href="javascript:void(0);" ng-click="signin();" ng-cloak>
                <span class='fa fa-github'></span>
              </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>