<!-- main width: 8 Grid-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2">

      <h2 class="devider-title" ng-bind="coder.name"></h2>

      <div id="coder" class="coder clearfix">
        <div class="row">
          <div class="col-lg-1 col-md-1">
            <a class="upvote" href="javascript:void(0);" ng-click="upvote(coder.objectId, $index);" ng-class="{'voted': coder.voted}">
              <i class="fa fa-arrow-up"></i>
            </a>
          </div>
          <div class="col-lg-11 col-md-11">
            <div class="coder-entry clearfix">
              <h3><a ng-href="{{coder.uri}}" ng-bind="coder.name"></a></h3>
              <div class="meta">
                <span class="upvote-num" ng-bind="(coder.upvote || 1) + ' 位推荐'"></span>
                <a ui-sref="layout.single({uri: coder.objectId})">添加评论</a>
                <span class="created-at" ng-bind="coder.createdAt | date: 'hh:mm a'"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
